<li class="<% if index.zero? %>is-active<% end %> orbit-slide">
  <video class="orbit-image" aria-label="<%= accessibility_label %>" <%= settings %> id="videotag<%= model.id %>">
    <source src="<%= video_url %>" type="<%= content_type %>">
    <%= t("decidim.slider.tabs.video_text.main.no_video_support") %>
  </video>
  <center>
    <h4><strong><%= title %></strong> - <%= content %></h4>
    <% if valid_link? %>
        <%= link_to cta, url, class: "button action", target: "blank" %>
    <% end %>
    <% if secondary_link? %>
      <%= link_to secondary_cta, secondary_url, class: "button action secondary", target: "blank" %>
    <% end %>
  </center>
</li>
