<li class="orbit-slide<% if index.zero? %> is-active<% end %>">
  <figure class="orbit-figure">
    <img src="<%= image_url %>" class="orbit-image" alt="<%= accessibility_label %>" />
  </figure>
  <center>
    <h4><strong><%= title %></strong> - <%= content %></h4>
    <% if valid_link? %>
      <%= link_to cta, url, class: "button action", target: "blank" %>
    <% end %>
    <% if secondary_link? %>
      <%= link_to secondary_cta, secondary_url, class: "button action secondary", target: "blank" %>
    <% end %>
  </center>
</li>
