<% if has_slides? %>
  <section class="extended home-section">
    <div class="orbit" role="region" data-orbit id="slider-block" aria-label="Slider" <%= settings %>>
      <div class="orbit-wrapper">
        <div class="orbit-controls">
          <button class="orbit-previous">
            <span class="show-for-sr"><%= t("decidim.slider.homepage.main.previous_slide") %></span>&#9664;&#xFE0E;
          </button>
          <button class="orbit-next">
            <span class="show-for-sr"><%= t("decidim.slider.homepage.main.next_slide") %></span>&#9654;&#xFE0E;
          </button>
        </div>
        <ul class="orbit-container">
          <%= cells.map(&:call) %>
        </ul>
      </div>
      <nav class="orbit-bullets" aria-label="slider-navigation">
        <%= cells.map(&:bullet).join("\n") %>
      </nav>
    </div>
    <%= stylesheet_pack_tag "decidim_slider" %>
    <%= javascript_pack_tag "decidim_slider" %>
  </section>
<% end %>